
#container {
  background: #fff;
  height: 100vh;
  display: flex;
}
#leftLogo {
  background: #181050;
  width: 49%;
  height: 100%;
  text-align: center;
  padding-top: 350px;
  float: left;
}
#leftLogo img {
  max-height: 200px;
}
#formLogin {
  background: #fff;
  text-align: center;
  height: 100%;
  width: 49%;
  padding: 280px 300px 0;
}
#formLogin h3 {
  color: #181050;
}
#formLogin  button {
  padding: 10px 20px;
  background: #181050;
  color:#fff;
  border:solid 1px #181050;
  width: 100%;
}
#formLogin button:hover {
  background: #181050;
  opacity: 0.7;
}